# Gradle
.gradle/
build/

# Android
app/build/
core/build/
driver/build/
local.properties
.externalNativeBuild/
.cxx/

# IDE
*.iml
.idea/

# OS
.DS_Store

# Explicitly include debug keystore for stable signing
!app/debug.keystore
